<?xml version="1.0"?>
<config>
    <modules>
        <Philwinkle_Fixerio>
             <version>0.4.1</version>
        </Philwinkle_Fixerio>
    </modules>
    <global>
        <currency>
            <import>
                <services>
                    <fixerio>
                        <name>Fixer.IO</name>
                        <model>fixerio/import</model>
                    </fixerio>
                </services>
            </import>
        </currency>
        <models>
            <fixerio>
                <class>Philwinkle_Fixerio_Model</class>
            </fixerio>
            <directory>
                <rewrite>
                    <!--
                    In Magento versions 1.9.4.3+ this module's implementation rewrites Magento's one, in case someone
                    tries to get an instance of that model directly
                    -->
                    <currency_import_fixerio>Philwinkle_Fixerio_Model_Import</currency_import_fixerio>
                </rewrite>
            </directory>
        </models>
        <helpers>
            <fixerio>
                <class>Philwinkle_Fixerio_Helper</class>
            </fixerio>
        </helpers>
    </global>
    <default>
        <currency>
            <fixerio>
                <timeout>100</timeout>
                <api_key backend_model="adminhtml/system_config_backend_encrypted"/>
                <active>1</active>
            </fixerio>
        </currency>
    </default>
</config>
