<?xml version="1.0"?>
<config>
    <modules>
        <Philwinkle_Fixerio>
             <version>0.2.0</version>
        </Philwinkle_Fixerio>
    </modules>
    <admin>
    </admin>
    <global>
        <currency>
            <import>
                <services>
                    <fixerio>
                        <name>Fixer.io</name>
                        <model>fixerio/import</model>
                    </fixerio>
                </services>
            </import>
        </currency>
        <models>
            <fixerio>
                <class>Philwinkle_Fixerio_Model</class>
                <resourceModel>fixerio_entity</resourceModel>
            </fixerio>
        </models>
        <helpers>
            <fixerio>
                <class>Philwinkle_Fixerio_Helper</class>
            </fixerio>
        </helpers>
    </global>
    <default>
        <currency>
            <fixerio>
                <timeout>60</timeout>
            </fixerio>
        </currency>
    </default>
</config>